body{
    font-family: 'Playfair Display', serif;
    padding:0;
    margin: 0;
}
nav{
    background-color: black;
    color: white;
    padding:20px 50px;
}

.navtop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchinput{
    border: none;
    background-color: transparent;
}
.searchinput::placeholder{
    color: lightgrey;
}
.limitedoffer{
    font-size: 20px;

    cursor: pointer;
}
.navbottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    margin-right: 50px;
    cursor: pointer;
    color: lightgrey;
    font-weight: 400;
}
.slider{
    background: url(image/bg3.jpg);
    clip-path: polygon(0 1%, 99% 1%, 100% 100%, 0% 100%);
}
.sliderwrapper{
    display: flex;
    width: 500vw;
}
.slideritem{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.silderbg{
    width: 750px;
    height:750px;
    
}
.slidertitle{
    position: absolute;
    top: 10%;
    right:10%;
    font-size: 60px;
    color: darkgray;
    font-weight: 900;
    text-align: center;
}
.sliderprice{
    position: absolute;
    top: 10%;
    left:10%;
    font-size: 60px;
    color: darkgray;
    font-weight: 300;
    text-align: center;
    border: 1px solid gray;
}